openapi: 3.0.1
info:
  title: RPA APIs
  version: 1.0.0
servers:
  - url: 'https://apigatewaydev.adient.com/rpa/v1'
    description: Development
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigatewayqa.adient.com/rpa/v1'
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigateway.adient.com/rpa/v1'
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /bankdetails:
    post:
      tags:
      - Send Bank Details (new/changes) to RPA 
      summary: Bank Information Synchronization
      description: When this API is trigered, an RPA process will take the information, pull relevant data from Taulia for the Supplier/Bank details and sync to Snowflake
      operationId: bankdetails
      requestBody:
        required: true
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkItem'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
security:
  - ApiKeyAuth: []
components:
  schemas:
    WorkItem:
      type: object
      properties:
        workItems:
          type: array
          items:
            type: object
            properties:
              json:
                type: object
                properties:
                  SAP Vendor Number:
                    type: string
                    example: 1234
                  Bank Name:
                    type: string
                    example: Test Bank
                  Bank Country Code:
                    type: string
                    example: US
                  DateTime Created:
                    type: string
                    example: 2022-08-11T18:25:43.511Z
    List:
      type: object
      properties:
        list:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              createdBy:
                type: string
              createdOn:
                type: string
              updatedBy:
                type: string
              updatedOn:
                type: string
              version:
                type: string
              json:
                type: object
                properties:
                  SAP Vendor Number:
                    type: string
                    example: 1234
                  Bank Name:
                    type: string
                    example: Test Bank
                  Bank Country Code:
                    type: string
                    example: US
                  DateTime Created:
                    type: string
                    example: 2022-08-11T18:25:43.511Z
              result:
                type: string
              deviceId:
                type: string
              status:
                type: string
              col1:
                type: string
              col2:
                type: string
              col3:
                type: string
              col4:
                type: string
              col5:
                type: string
              deviceUserId:
                type: string
              queueId:
                type: string
              comment:
                type: string
              automationId:
                type: string
              totalPausedTime:
                type: string
              error:
                type: string
              col6:
                type: string
              col7:
                type: string
              col8:
                type: string
              col9:
                type: string
              col10:
                type: string
              jobExecutionId:
                type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header